* {
	outline: 0;
	padding: 0;
	margin: 0;
	border:none;
	overflow:hidden;        
}

html{
	width: 100%;
	height: 100%;
} 

body{
	width: 100%;
	height: 100%;
}

img{
	width: 100%;
}


#btPdf{
   position: fixed;
    width: 40%;
    bottom: 26%;
    right: 50%;
    transform:translate(50%,70%);
    -moz-transform:translate(50%,70%);
    -o-transform:translate(50%,70%);
    -webkit-transform:translate(50%,70%);
}