<style>

    .version.index /* version checker */
{
	color: #00000B;
	background-color: #A79056;
}

.html
{
	background-color: #008C95;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 4782px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -37px;
	padding-bottom: 62px;
	width: 0.01px;
}

#pu1196
{
	width: 0.01px;
	padding-bottom: 87px;
	margin-left: -100px;
}

#u1196
{
	z-index: 22;
	min-height: 87px;
}

#u1196-bw
{
	z-index: 22;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -37px;
}

#u1142
{
	z-index: 23;
	width: 24px;
	height: 28px;
	position: fixed;
	top: -28px;
	left: 454px;
}

#u1148
{
	z-index: 24;
	width: 24px;
	height: 28px;
	position: fixed;
	top: -28px;
	left: 497px;
}

#u1149
{
	z-index: 25;
	width: 24px;
	height: 29px;
	position: fixed;
	top: -29px;
	left: 539px;
}

.ie #u1142,.ie #u1148,.ie #u1149
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1428
{
	z-index: 14;
	position: fixed;
	top: 12px;
	left: 307px;
}

#u1577
{
	z-index: 26;
	position: fixed;
	top: 453px;
	left: 708px;
}

#u1079
{
	z-index: 21;
	position: fixed;
	top: 452px;
	left: 899px;
}

#u1557
{
	z-index: 13;
	margin-left: 301px;
	margin-top: 673px;
	position: relative;
}

#u1336
{
	z-index: 15;
	margin-left: 273px;
	margin-top: 210px;
	position: relative;
}

#u1977
{
	z-index: 6;
	position: fixed;
	top: 1055px;
	left: 294px;
}

#u2237
{
	z-index: 3;
	position: fixed;
	top: 1229px;
	left: 294px;
}

#u1999
{
	z-index: 10;
	position: fixed;
	top: 1701px;
	left: 121px;
}

#u1603
{
	z-index: 9;
	position: fixed;
	top: 1701px;
	left: 121px;
}

#u2002
{
	z-index: 8;
	position: fixed;
	top: 1774px;
	left: 406px;
}

#u1582
{
	z-index: 7;
	position: fixed;
	top: 1774px;
	left: 406px;
}

.js #u1577.ose_pre_init,.js #u1079.ose_pre_init,.js #u1999.ose_pre_init,.js #u1603.ose_pre_init,.js #u2002.ose_pre_init,.js #u1582.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1689
{
	z-index: 12;
	position: fixed;
	top: 1936px;
	left: 121px;
}

#u1630
{
	z-index: 11;
	position: fixed;
	top: 2022px;
	left: 407px;
}

#u1982
{
	z-index: 4;
	width: 205px;
	background-color: transparent;
	position: fixed;
	top: 3009px;
	left: 377px;
}

#u2242
{
	z-index: 2;
	position: fixed;
	top: 3247px;
	left: 195px;
}

#u621
{
	z-index: 17;
	position: fixed;
	top: 4309px;
	left: 84px;
}

#u626
{
	z-index: 18;
	position: fixed;
	top: 4307px;
	left: 290px;
}

#u1957
{
	z-index: 28;
	position: fixed;
	top: 4310px;
	left: 716px;
}

#u611
{
	z-index: 16;
	position: fixed;
	top: 4314px;
	left: 479px;
}

#u631
{
	z-index: 19;
	margin-left: 289px;
	margin-top: 3226px;
	position: relative;
}

.js #u1336.ose_pre_init,.js #u1689.ose_pre_init,.js #u1630.ose_pre_init,.js #u1982.ose_pre_init,.js #u631.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u1625
{
	z-index: 27;
	margin-left: 399px;
	margin-top: 28px;
	position: relative;
}

#u644
{
	z-index: 20;
	overflow: hidden;
	margin-left: 397px;
	margin-top: 29px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 23px;
}

#page .verticalspacer
{
	clear: both;
}



</style> 
 
 <body>
    
    
  <div class="clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="clearfix colelem" id="pu1196"><!-- group -->
     <div class="browser_width mse_pre_init" id="u1196-bw">
      <img class="svg btn1" id="u1196" src="images/svg%20colado%20871x64.svg" width="100%" height="87" alt="" data-mu-svgfallback="images/svg%20colado%20871x64_poster_.png"/><!-- svg -->
     </div>
     <a class="nonblock nontext mse_pre_init btn2" id="u1142" href="#"><!-- simple frame --></a>
     <a class="nonblock nontext mse_pre_init btn3" id="u1148" href="#"><!-- simple frame --></a>
     <a class="nonblock nontext mse_pre_init btn4" id="u1149" href="#"><!-- simple frame --></a>
    </div>
    <img class="svg mse_pre_init" id="u1428" src="images/svg%20colado%201653x165.svg" width="379" height="378" alt="" data-mu-svgfallback="images/svg%20colado%201653x165_poster_.png"/><!-- svg -->
    <img class="svg ose_pre_init mse_pre_init" id="u1577" src="images/svg%20colado%201337x40.svg" width="186" height="56" alt="" data-mu-svgfallback="images/svg%20colado%201337x40_poster_.png"/><!-- svg -->
    <img class="svg ose_pre_init mse_pre_init" id="u1079" src="images/svg%20colado%20197x27.svg" width="40" height="57" alt="" data-mu-svgfallback="images/svg%20colado%20197x27_poster_.png"/><!-- svg -->
    <img class="svg colelem" id="u1557" src="images/svg%20colado%201534x47.svg" width="391" height="122" alt="" data-mu-svgfallback="images/svg%20colado%201534x47_poster_.png"/><!-- svg -->
    <img class="svg ose_pre_init colelem" id="u1336" src="images/svg%20colado%206x112.svg" width="8" height="143" alt="" data-mu-svgfallback="images/svg%20colado%206x112_poster_.png"/><!-- svg -->
    <img class="svg mse_pre_init" id="u1977" src="images/svg%20colado%202039x69.svg" width="415" height="141" alt="" data-mu-svgfallback="images/svg%20colado%202039x69_poster_.png"/><!-- svg -->
    <img class="svg mse_pre_init" id="u2237" src="images/svg%20colado%202427x31.svg" width="398" height="52" alt="" data-mu-svgfallback="images/svg%20colado%202427x31_poster_.png"/><!-- svg -->
    <img class="svg ose_pre_init mse_pre_init" id="u1999" src="images/svg%20colado%201823x186.svg" width="257" height="263" alt="" data-mu-svgfallback="images/svg%20colado%201823x186_poster_.png"/><!-- svg -->
    <img class="svg ose_pre_init mse_pre_init" id="u1603" src="images/svg%20colado%201823x186.svg" width="257" height="263" alt="" data-mu-svgfallback="images/svg%20colado%201823x186_poster_.png"/><!-- svg -->
    <img class="svg ose_pre_init mse_pre_init" id="u2002" src="images/svg%20colado%202588x66.svg" width="444" height="115" alt="" data-mu-svgfallback="images/svg%20colado%202588x66_poster_.png"/><!-- svg -->
    <img class="svg ose_pre_init mse_pre_init" id="u1582" src="images/svg%20colado%202588x66.svg" width="444" height="115" alt="" data-mu-svgfallback="images/svg%20colado%202588x66_poster_.png"/><!-- svg -->
    <img class="svg ose_pre_init mse_pre_init" id="u1689" src="images/svg%20colado%201823x187.svg" width="257" height="263" alt=""/><!-- svg -->
    <img class="svg ose_pre_init mse_pre_init" id="u1630" src="images/svg%20colado%202674x54.svg" width="438" height="90" alt=""/><!-- svg -->
    <div class="clip_frame ose_pre_init mse_pre_init" id="u1982"><!-- image -->
     <img class="block" id="u1982_img" src="images/rodobens_learning%20map-56.png" alt="" width="205" height="205"/>
    </div>
    <img class="svg mse_pre_init" id="u2242" src="images/svg%20colado%203211x81.svg" width="579" height="147" alt="" data-mu-svgfallback="images/svg%20colado%203211x81_poster_.png"/><!-- svg -->
    <img class="svg mse_pre_init" id="u621" src="images/svg%20colado%20861x35.svg" width="166" height="68" alt="" data-mu-svgfallback="images/svg%20colado%20861x35_poster_.png"/><!-- svg -->
    <img class="svg mse_pre_init" id="u626" src="images/svg%20colado%20758x36.svg" width="149" height="73" alt="" data-mu-svgfallback="images/svg%20colado%20758x36_poster_.png"/><!-- svg -->
    <img class="svg mse_pre_init" id="u1957" src="images/svg%20colado%201202x44.svg" width="197" height="73" alt="" data-mu-svgfallback="images/svg%20colado%201202x44_poster_.png"/><!-- svg -->
    <img class="svg mse_pre_init" id="u611" src="images/svg%20colado%2097x30.svg" width="197" height="63" alt="" data-mu-svgfallback="images/svg%20colado%2097x30_poster_.png"/><!-- svg -->
    <img class="svg ose_pre_init colelem" id="u631" src="images/svg%20colado%202529x54.svg" width="419" height="81" alt=""/><!-- svg -->
    <img class="svg colelem" id="u1625" src="images/svg%20colado%20178.svg" width="201" height="69" alt="" data-mu-svgfallback="images/svg%20colado%20178_poster_.png"/><!-- svg -->
    <a class="nonblock nontext colelem btn2" id="u644" href="#"><!-- svg --><img class="svg" src="images/svg%20colado%202248x1122.svg" width="202" height="102" alt="" data-mu-svgfallback="images/svg%20colado%202248x112_poster_2.png"/></a>
    <div class="verticalspacer"></div>
   </div>
  </div>
  <!-- JS includes -->
  <script type="text/javascript">
   //if (document.location.protocol != 'https:') document.write('\x3Cscript src="http://musecdn2.businesscatalyst.com/scripts/4.0/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script type="text/javascript">
  // window.jQuery || document.write('\x3Cscript src="scripts/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script src="scripts/museutils.js?521960461" type="text/javascript"></script>
  <script src="scripts/jquery.scrolleffects.js?4038615763" type="text/javascript"></script>
  <script src="scripts/jquery.watch.js?56779320" type="text/javascript"></script>
  <!-- Other scripts -->
  <script type="text/javascript">
   $(document).ready(function() { try {
(function(){var a={},b=function(a){if(a.match(/^rgb/))return a=a.replace(/\s+/g,"").match(/([\d\,]+)/gi)[0].split(","),(parseInt(a[0])<<16)+(parseInt(a[1])<<8)+parseInt(a[2]);if(a.match(/^\#/))return parseInt(a.substr(1),16);return 0};(function(){$('link[type="text/css"]').each(function(){var b=($(this).attr("href")||"").match(/\/?css\/([\w\-]+\.css)\?(\d+)/);b&&b[1]&&b[2]&&(a[b[1]]=b[2])})})();(function(){$("body").append('<div class="version" style="display:none; width:1px; height:1px;"></div>');
for(var c=$(".version"),d=0;d<Muse.assets.required.length;){var f=Muse.assets.required[d],g=f.match(/([\w\-\.]+)\.(\w+)$/),k=g&&g[1]?g[1]:null,g=g&&g[2]?g[2]:null;switch(g.toLowerCase()){case "css":k=k.replace(/\W/gi,"_").replace(/^([^a-z])/gi,"_$1");c.addClass(k);var g=b(c.css("color")),h=b(c.css("background-color"));g!=0||h!=0?(Muse.assets.required.splice(d,1),"undefined"!=typeof a[f]&&(g!=a[f]>>>24||h!=(a[f]&16777215))&&Muse.assets.outOfDate.push(f)):d++;c.removeClass(k);break;case "js":k.match(/^jquery-[\d\.]+/gi)&&
typeof $!="undefined"?Muse.assets.required.splice(d,1):d++;break;default:throw Error("Unsupported file type: "+g);}}c.remove();if(Muse.assets.outOfDate.length||Muse.assets.required.length)c="Alguns arquivos no servidor podem estar ausentes ou incorretos. Limpe o cache do navegador e tente novamente. Se o problema persistir, entre em contato com o autor do site.",(d=location&&location.search&&location.search.match&&location.search.match(/muse_debug/gi))&&Muse.assets.outOfDate.length&&(c+="\nOut of date: "+Muse.assets.outOfDate.join(",")),d&&Muse.assets.required.length&&(c+="\nMissing: "+Muse.assets.required.join(",")),alert(c)})()})();
/* body */
Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
Muse.Utils.prepHyperlinks(true);/* body */
$('#u1196-bw').registerPositionScrollEffect([{"speed":[null,0],"in":[-Infinity,44]},{"speed":[null,0],"in":[44,Infinity]}]);/* scroll effect */
Muse.Utils.resizeHeight()/* resize height */
$('#u1142').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,1.35]},{"speed":[0,0],"in":[1.35,Infinity]}]);/* scroll effect */
$('#u1148').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,1.35]},{"speed":[0,0],"in":[1.35,Infinity]}]);/* scroll effect */
$('#u1149').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,0.35]},{"speed":[0,0],"in":[0.35,Infinity]}]);/* scroll effect */
$('#u1428').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,47]},{"speed":[0,0.5],"in":[47,Infinity]}]);/* scroll effect */
$('#u1577').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,47.75]},{"speed":[0,0],"in":[47.75,Infinity]}]);/* scroll effect */
$('#u1577').registerOpacityScrollEffect([{"in":[-Infinity,47.75],"opacity":100,"fade":50},{"in":[47.75,47.75],"opacity":100},{"in":[47.75,Infinity],"opacity":0,"fade":199.25}]);/* scroll effect */
$('#u1079').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,51.02]},{"speed":[0,0],"in":[51.02,Infinity]}]);/* scroll effect */
$('#u1079').registerOpacityScrollEffect([{"in":[-Infinity,51.02],"opacity":100,"fade":50},{"in":[51.02,51.02],"opacity":100},{"in":[51.02,Infinity],"opacity":0,"fade":194.4}]);/* scroll effect */
$('#u1336').registerOpacityScrollEffect([{"in":[-Infinity,870],"opacity":0,"fade":115},{"in":[870,870],"opacity":100},{"in":[870,Infinity],"opacity":100,"fade":50}]);/* scroll effect */
$('#u1977').registerPositionScrollEffect([{"speed":[-3,1],"in":[-Infinity,837]},{"speed":[0,1],"in":[837,Infinity]}]);/* scroll effect */
$('#u2237').registerPositionScrollEffect([{"speed":[3,1],"in":[-Infinity,960.15]},{"speed":[0,1],"in":[960.15,Infinity]}]);/* scroll effect */
$('#u1999').registerPositionScrollEffect([{"speed":[4,0],"in":[-Infinity,1545.25]},{"speed":[0,0],"in":[1545.25,Infinity]}]);/* scroll effect */
$('#u1999').registerOpacityScrollEffect([{"in":[-Infinity,1545.25],"opacity":100,"fade":192},{"in":[1545.25,1545.25],"opacity":100},{"in":[1545.25,Infinity],"opacity":0,"fade":246.75}]);/* scroll effect */
$('#u1603').registerPositionScrollEffect([{"speed":[4,0],"in":[-Infinity,1545.61]},{"speed":[0,0],"in":[1545.61,Infinity]}]);/* scroll effect */
$('#u1603').registerOpacityScrollEffect([{"in":[-Infinity,1545.61],"opacity":100,"fade":192},{"in":[1545.61,1545.61],"opacity":100},{"in":[1545.61,Infinity],"opacity":0,"fade":247.75}]);/* scroll effect */
$('#u2002').registerPositionScrollEffect([{"speed":[5,0],"in":[-Infinity,1545]},{"speed":[0,0],"in":[1545,Infinity]}]);/* scroll effect */
$('#u2002').registerOpacityScrollEffect([{"in":[-Infinity,1545],"opacity":100,"fade":199},{"in":[1545,1545],"opacity":100},{"in":[1545,Infinity],"opacity":0,"fade":247}]);/* scroll effect */
$('#u1582').registerPositionScrollEffect([{"speed":[5,0],"in":[-Infinity,1545]},{"speed":[0,0],"in":[1545,Infinity]}]);/* scroll effect */
$('#u1582').registerOpacityScrollEffect([{"in":[-Infinity,1545],"opacity":100,"fade":199},{"in":[1545,1545],"opacity":100},{"in":[1545,Infinity],"opacity":0,"fade":248}]);/* scroll effect */
$('#u1689').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,1779]},{"speed":[0,0.5],"in":[1779,Infinity]}]);/* scroll effect */
$('#u1689').registerOpacityScrollEffect([{"in":[-Infinity,1779],"opacity":0,"fade":171},{"in":[1779,1779],"opacity":100},{"in":[1779,Infinity],"opacity":100,"fade":685}]);/* scroll effect */
$('#u1630').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,1779]},{"speed":[0,0.5],"in":[1779,Infinity]}]);/* scroll effect */
$('#u1630').registerOpacityScrollEffect([{"in":[-Infinity,1779],"opacity":0,"fade":176},{"in":[1779,1779],"opacity":100},{"in":[1779,Infinity],"opacity":100,"fade":692}]);/* scroll effect */
$('#u1982').registerPositionScrollEffect([{"speed":[1,0],"in":[-Infinity,2840]},{"speed":[0,0.5],"in":[2840,Infinity]}]);/* scroll effect */
$('#u1982').registerOpacityScrollEffect([{"in":[-Infinity,2840],"opacity":0,"fade":105},{"in":[2840,2840],"opacity":100},{"in":[2840,Infinity],"opacity":100,"fade":283}]);/* scroll effect */
$('#u2242').registerPositionScrollEffect([{"speed":[2,0],"in":[-Infinity,2905]},{"speed":[0,0.4],"in":[2905,Infinity]}]);/* scroll effect */
$('#u621').registerPositionScrollEffect([{"speed":[3,1],"in":[-Infinity,4126.73]},{"speed":[0,1],"in":[4126.73,Infinity]}]);/* scroll effect */
$('#u626').registerPositionScrollEffect([{"speed":[5,1],"in":[-Infinity,4047]},{"speed":[0,1],"in":[4047,Infinity]}]);/* scroll effect */
$('#u1957').registerPositionScrollEffect([{"speed":[-3,1],"in":[-Infinity,4123]},{"speed":[0,1],"in":[4123,Infinity]}]);/* scroll effect */
$('#u611').registerPositionScrollEffect([{"speed":[-4,1],"in":[-Infinity,4052]},{"speed":[0,1],"in":[4052,Infinity]}]);/* scroll effect */
$('#u631').registerOpacityScrollEffect([{"in":[-Infinity,4155],"opacity":0,"fade":189},{"in":[4155,4155],"opacity":100},{"in":[4155,Infinity],"opacity":100,"fade":194}]);/* scroll effect */
Muse.Utils.fullPage('#page');/* 100% height page */
Muse.Utils.showWidgetsWhenReady();/* body */
Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
} catch(e) { if (e && 'function' == typeof e.notify) e.notify(); else Muse.Assert.fail('Error calling selector function:' + e); }});
</script>
   </body>
