<style>
.version.o_programa /* version checker */
{
	color: #000009;
	background-color: #E637EA;
}

.html
{
	background-color: #008C95;
}

#page
{
	z-index: 1;
	width: 132px;
	min-height: 0px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 10405px 399px 62px 429px;
}

#u1242
{
	z-index: 29;
	min-height: 179px;
}

#u1242-bw
{
	z-index: 29;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -81px;
}

#u1546
{
	z-index: 2;
	opacity: 0.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
	position: fixed;
	top: 10px;
	left: -252px;
}

#u1162
{
	z-index: 32;
	width: 24px;
	height: 33px;
	position: fixed;
	top: 11px;
	left: 413px;
}

#u1158
{
	z-index: 30;
	width: 24px;
	height: 34px;
	position: fixed;
	top: 11px;
	left: 493px;
}

#u1159
{
	z-index: 31;
	width: 24px;
	height: 33px;
	position: fixed;
	top: 11px;
	left: 538px;
}

#u2227
{
	z-index: 3;
	position: fixed;
	top: 98px;
	left: 84px;
}

#u1640
{
	z-index: 27;
	position: fixed;
	top: 542px;
	left: 674px;
}

#u1076
{
	z-index: 26;
	position: fixed;
	top: 539px;
	left: 866px;
}

.js #u1640.ose_pre_init,.js #u1076.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u2247
{
	z-index: 33;
	position: fixed;
	top: 786px;
	left: 485px;
}

#u2641
{
	z-index: 4;
	position: fixed;
	top: 1364px;
	left: 125px;
}

#u2355
{
	z-index: 35;
	position: fixed;
	top: 1693px;
	left: 301px;
}

#u2744
{
	z-index: 37;
	position: fixed;
	top: 2215px;
	left: 652px;
}

#u2252
{
	z-index: 34;
	position: fixed;
	top: 2904px;
	left: 427px;
}

#u2699
{
	z-index: 6;
	position: fixed;
	top: 3363px;
	left: 270px;
}

#u2646
{
	z-index: 5;
	position: fixed;
	top: 3363px;
	left: 270px;
}

#u2705
{
	z-index: 8;
	position: fixed;
	top: 3878px;
	left: 294px;
}

#u2651
{
	z-index: 7;
	position: fixed;
	top: 3878px;
	left: 294px;
}

#u2656
{
	z-index: 9;
	position: fixed;
	top: 4484px;
	left: 304px;
}

#u2711
{
	z-index: 10;
	position: fixed;
	top: 4484px;
	left: 304px;
}

#u2661
{
	z-index: 11;
	position: fixed;
	top: 5179px;
	left: 282px;
}

#u2714
{
	z-index: 12;
	position: fixed;
	top: 5179px;
	left: 282px;
}

#u2666
{
	z-index: 13;
	position: fixed;
	top: 5862px;
	left: 266px;
}

#u2720
{
	z-index: 14;
	position: fixed;
	top: 5862px;
	left: 266px;
}

#u2726
{
	z-index: 16;
	position: fixed;
	top: 6604px;
	left: 258px;
}

#u2671
{
	z-index: 15;
	position: fixed;
	top: 6604px;
	left: 258px;
}

#u2732
{
	z-index: 18;
	position: fixed;
	top: 7168px;
	left: 218px;
}

#u2676
{
	z-index: 17;
	position: fixed;
	top: 7168px;
	left: 218px;
}

#u2681
{
	z-index: 19;
	position: fixed;
	top: 7881px;
	left: 208px;
}

#u2735
{
	z-index: 20;
	position: fixed;
	top: 7881px;
	left: 208px;
}

#u2738
{
	z-index: 22;
	position: fixed;
	top: 8707px;
	left: 200px;
}

#u2686
{
	z-index: 21;
	position: fixed;
	top: 8707px;
	left: 200px;
}

#u2741
{
	z-index: 24;
	position: fixed;
	top: 9314px;
	left: 172px;
}

#u2691
{
	z-index: 23;
	position: fixed;
	top: 9314px;
	left: 172px;
}

#u2624
{
	z-index: 25;
	overflow: hidden;
	position: fixed;
	top: 9981px;
	left: 122px;
}

.js #u2641.ose_pre_init,.js #u2355.ose_pre_init,.js #u2744.ose_pre_init,.js #u2699.ose_pre_init,.js #u2646.ose_pre_init,.js #u2705.ose_pre_init,.js #u2651.ose_pre_init,.js #u2656.ose_pre_init,.js #u2711.ose_pre_init,.js #u2661.ose_pre_init,.js #u2714.ose_pre_init,.js #u2666.ose_pre_init,.js #u2720.ose_pre_init,.js #u2726.ose_pre_init,.js #u2671.ose_pre_init,.js #u2732.ose_pre_init,.js #u2676.ose_pre_init,.js #u2681.ose_pre_init,.js #u2735.ose_pre_init,.js #u2738.ose_pre_init,.js #u2686.ose_pre_init,.js #u2741.ose_pre_init,.js #u2691.ose_pre_init,.js #u2624.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u2562
{
	z-index: 36;
	position: fixed;
	top: 10020px;
	left: 601px;
}

#u864
{
	z-index: 28;
	width: 132px;
	height: 132px;
	position: relative;
}

.ie #u1162,.ie #u1158,.ie #u1159,.ie #u864
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}




</style>
 <body>

  <div class="clearfix" id="page"><!-- column -->
   <div class="browser_width mse_pre_init" id="u1242-bw">
    <img class="svg btn2" id="u1242" src="images/svg%20colado%20871x65.svg" width="100%" height="179" alt="" data-mu-svgfallback="images/svg%20colado%20871x65_poster_.png"/><!-- svg -->
   </div>
   <img class="svg mse_pre_init" id="u1546" src="images/svg%20colado%201487x722.svg" width="1464" height="711" alt="" data-mu-svgfallback="images/svg%20colado%201487x722_poster_.png"/><!-- svg -->
   <a class="nonblock nontext mse_pre_init btn1" id="u1162" href="#"><!-- simple frame --></a>
   <a class="nonblock nontext mse_pre_init btn3" id="u1158" href="#"><!-- simple frame --></a>
   <a class="nonblock nontext mse_pre_init btn4" id="u1159" href="#"><!-- simple frame --></a>
   <img class="svg mse_pre_init" id="u2227" src="images/svg%20colado%206492x347.svg" width="801" height="430" alt="" data-mu-svgfallback="images/svg%20colado%206492x347_poster_.png"/><!-- svg -->
   <img class="svg ose_pre_init mse_pre_init" id="u1640" src="images/svg%20colado%201337x40.svg" width="186" height="56" alt="" data-mu-svgfallback="images/svg%20colado%201337x40_poster_.png"/><!-- svg -->
   <img class="svg ose_pre_init mse_pre_init" id="u1076" src="images/svg%20colado%20197x27.svg" width="40" height="57" alt="" data-mu-svgfallback="images/svg%20colado%20197x27_poster_.png"/><!-- svg -->
   <img class="svg mse_pre_init" id="u2247" src="images/svg%20colado%206122x148.svg" width="1060" height="258" alt="" data-mu-svgfallback="images/svg%20colado%206122x148_poster_.png"/><!-- svg -->
   <img class="svg ose_pre_init mse_pre_init" id="u2641" src="images/svg%20colado%202018x176.svg" width="256" height="221" alt="" data-mu-svgfallback="images/svg%20colado%202018x176_poster_.png"/><!-- svg -->
   <img class="svg ose_pre_init mse_pre_init" id="u2355" src="images/svg%20colado%20293x72.svg" width="333" height="83" alt=""/><!-- svg -->
   <img class="svg ose_pre_init mse_pre_init" id="u2744" src="images/svg%20colado%20221x221.svg" width="203" height="203" alt=""/><!-- svg -->
   <img class="svg mse_pre_init" id="u2252" src="images/svg%20colado%206122x117.svg" width="1041" height="200" alt="" data-mu-svgfallback="images/svg%20colado%206122x117_poster_.png"/><!-- svg -->
   <img class="svg ose_pre_init mse_pre_init" id="u2699" src="images/svg%20colado%202825x247.svg" width="243" height="213" alt=""/><!-- svg -->
   <img class="svg ose_pre_init mse_pre_init" id="u2646" src="images/svg%20colado%202825x247.svg" width="243" height="213" alt=""/><!-- svg -->
   <img class="svg ose_pre_init mse_pre_init" id="u2705" src="images/svg%20colado%20285.svg" width="254" height="197" alt=""/><!-- svg -->
   <img class="svg ose_pre_init mse_pre_init" id="u2651" src="images/svg%20colado%20285.svg" width="254" height="197" alt=""/><!-- svg -->
   <img class="svg ose_pre_init mse_pre_init" id="u2656" src="images/svg%20colado%202399x286.svg" width="221" height="263" alt="" data-mu-svgfallback="images/svg%20colado%202399x286_poster_.png"/><!-- svg -->
   <img class="svg ose_pre_init mse_pre_init" id="u2711" src="images/svg%20colado%202399x286.svg" width="221" height="263" alt="" data-mu-svgfallback="images/svg%20colado%202399x286_poster_.png"/><!-- svg -->
   <img class="svg ose_pre_init mse_pre_init" id="u2661" src="images/svg%20colado%20261x295.svg" width="233" height="270" alt=""/><!-- svg -->
   <img class="svg ose_pre_init mse_pre_init" id="u2714" src="images/svg%20colado%20261x295.svg" width="233" height="270" alt=""/><!-- svg -->
   <img class="svg ose_pre_init mse_pre_init" id="u2666" src="images/svg%20colado%20233x289.svg" width="218" height="271" alt="" data-mu-svgfallback="images/svg%20colado%20233x289_poster_.png"/><!-- svg -->
   <img class="svg ose_pre_init mse_pre_init" id="u2720" src="images/svg%20colado%20233x289.svg" width="218" height="271" alt="" data-mu-svgfallback="images/svg%20colado%20233x289_poster_.png"/><!-- svg -->
   <img class="svg ose_pre_init mse_pre_init" id="u2726" src="images/svg%20colado%20221x287.svg" width="211" height="275" alt=""/><!-- svg -->
   <img class="svg ose_pre_init mse_pre_init" id="u2671" src="images/svg%20colado%20221x287.svg" width="211" height="275" alt=""/><!-- svg -->
   <img class="svg ose_pre_init mse_pre_init" id="u2732" src="images/svg%20colado%202848x262.svg" width="272" height="251" alt="" data-mu-svgfallback="images/svg%20colado%202848x262_poster_.png"/><!-- svg -->
   <img class="svg ose_pre_init mse_pre_init" id="u2676" src="images/svg%20colado%202848x262.svg" width="272" height="251" alt="" data-mu-svgfallback="images/svg%20colado%202848x262_poster_.png"/><!-- svg -->
   <img class="svg ose_pre_init mse_pre_init" id="u2681" src="images/svg%20colado%202795x249.svg" width="290" height="265" alt="" data-mu-svgfallback="images/svg%20colado%202795x249_poster_.png"/><!-- svg -->
   <img class="svg ose_pre_init mse_pre_init" id="u2735" src="images/svg%20colado%202795x249.svg" width="290" height="265" alt="" data-mu-svgfallback="images/svg%20colado%202795x249_poster_.png"/><!-- svg -->
   <img class="svg ose_pre_init mse_pre_init" id="u2738" src="images/svg%20colado%203056x233.svg" width="307" height="235" alt="" data-mu-svgfallback="images/svg%20colado%203056x233_poster_.png"/><!-- svg -->
   <img class="svg ose_pre_init mse_pre_init" id="u2686" src="images/svg%20colado%203056x233.svg" width="307" height="235" alt="" data-mu-svgfallback="images/svg%20colado%203056x233_poster_.png"/><!-- svg -->
   <img class="svg ose_pre_init mse_pre_init" id="u2741" src="images/svg%20colado%20312.svg" width="316" height="223" alt=""/><!-- svg -->
   <img class="svg ose_pre_init mse_pre_init" id="u2691" src="images/svg%20colado%20312.svg" width="316" height="223" alt=""/><!-- svg -->
   <a class="nonblock nontext ose_pre_init mse_pre_init btn3" id="u2624" href="#"><!-- svg --><img class="svg" src="images/svg%20colado%20587.svg" width="218" height="205" alt=""/></a>
   <img class="svg mse_pre_init" id="u2562" src="images/svg%20colado%205594x117.svg" width="790" height="166" alt="" data-mu-svgfallback="images/svg%20colado%205594x117_poster_.png"/><!-- svg -->
   <div class="colelem" id="u864"><!-- simple frame --></div>
   <div class="verticalspacer"></div>
  </div>
  <!-- JS includes -->
  <script type="text/javascript">
  // if (document.location.protocol != 'https:') document.write('\x3Cscript src="http://musecdn2.businesscatalyst.com/scripts/4.0/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script type="text/javascript">
  // window.jQuery || document.write('\x3Cscript src="scripts/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script src="scripts/museutils.js?521960461" type="text/javascript"></script>
  <script src="scripts/jquery.scrolleffects.js?4038615763" type="text/javascript"></script>
  <script src="scripts/jquery.watch.js?56779320" type="text/javascript"></script>
  <!-- Other scripts -->
  <script type="text/javascript">
   $(document).ready(function() { try {
(function(){var a={},b=function(a){if(a.match(/^rgb/))return a=a.replace(/\s+/g,"").match(/([\d\,]+)/gi)[0].split(","),(parseInt(a[0])<<16)+(parseInt(a[1])<<8)+parseInt(a[2]);if(a.match(/^\#/))return parseInt(a.substr(1),16);return 0};(function(){$('link[type="text/css"]').each(function(){var b=($(this).attr("href")||"").match(/\/?css\/([\w\-]+\.css)\?(\d+)/);b&&b[1]&&b[2]&&(a[b[1]]=b[2])})})();(function(){$("body").append('<div class="version" style="display:none; width:1px; height:1px;"></div>');
for(var c=$(".version"),d=0;d<Muse.assets.required.length;){var f=Muse.assets.required[d],g=f.match(/([\w\-\.]+)\.(\w+)$/),k=g&&g[1]?g[1]:null,g=g&&g[2]?g[2]:null;switch(g.toLowerCase()){case "css":k=k.replace(/\W/gi,"_").replace(/^([^a-z])/gi,"_$1");c.addClass(k);var g=b(c.css("color")),h=b(c.css("background-color"));g!=0||h!=0?(Muse.assets.required.splice(d,1),"undefined"!=typeof a[f]&&(g!=a[f]>>>24||h!=(a[f]&16777215))&&Muse.assets.outOfDate.push(f)):d++;c.removeClass(k);break;case "js":k.match(/^jquery-[\d\.]+/gi)&&
typeof $!="undefined"?Muse.assets.required.splice(d,1):d++;break;default:throw Error("Unsupported file type: "+g);}}c.remove();if(Muse.assets.outOfDate.length||Muse.assets.required.length)c="Alguns arquivos no servidor podem estar ausentes ou incorretos. Limpe o cache do navegador e tente novamente. Se o problema persistir, entre em contato com o autor do site.",(d=location&&location.search&&location.search.match&&location.search.match(/muse_debug/gi))&&Muse.assets.outOfDate.length&&(c+="\nOut of date: "+Muse.assets.outOfDate.join(",")),d&&Muse.assets.required.length&&(c+="\nMissing: "+Muse.assets.required.join(",")),alert(c)})()})();
/* body */
Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
Muse.Utils.prepHyperlinks(true);/* body */
$('#u1242-bw').registerPositionScrollEffect([{"speed":[null,0],"in":[-Infinity,46.9]},{"speed":[null,0],"in":[46.9,Infinity]}]);/* scroll effect */
Muse.Utils.resizeHeight()/* resize height */
$('#u1546').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,56.15]},{"speed":[0,0],"in":[56.15,Infinity]}]);/* scroll effect */
$('#u1162').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,39.39]},{"speed":[0,0],"in":[39.39,Infinity]}]);/* scroll effect */
$('#u1158').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,40]},{"speed":[0,0],"in":[40,Infinity]}]);/* scroll effect */
$('#u1159').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,40]},{"speed":[0,0],"in":[40,Infinity]}]);/* scroll effect */
$('#u2227').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,88]},{"speed":[0,0],"in":[88,Infinity]}]);/* scroll effect */
$('#u1640').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,132.2]},{"speed":[0,0],"in":[132.2,Infinity]}]);/* scroll effect */
$('#u1640').registerOpacityScrollEffect([{"in":[-Infinity,132.2],"opacity":100,"fade":50},{"in":[132.2,132.2],"opacity":100},{"in":[132.2,Infinity],"opacity":0,"fade":199.25}]);/* scroll effect */
$('#u1076').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,132]},{"speed":[0,0],"in":[132,Infinity]}]);/* scroll effect */
$('#u1076').registerOpacityScrollEffect([{"in":[-Infinity,132],"opacity":100,"fade":50},{"in":[132,132],"opacity":100},{"in":[132,Infinity],"opacity":0,"fade":194.4}]);/* scroll effect */
$('#u2247').registerPositionScrollEffect([{"speed":[-3,0],"in":[-Infinity,721.74]},{"speed":[0.5,0],"in":[721.74,Infinity]}]);/* scroll effect */
$('#u2641').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,1136]},{"speed":[0,0],"in":[1136,Infinity]}]);/* scroll effect */
$('#u2641').registerOpacityScrollEffect([{"in":[-Infinity,1136],"opacity":0,"fade":139},{"in":[1136,1136],"opacity":100},{"in":[1136,Infinity],"opacity":100,"fade":50}]);/* scroll effect */
$('#u2355').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,1230]},{"speed":[0,0],"in":[1230,Infinity]}]);/* scroll effect */
$('#u2355').registerOpacityScrollEffect([{"in":[-Infinity,1230],"opacity":0,"fade":50},{"in":[1230,1230],"opacity":100},{"in":[1230,Infinity],"opacity":100,"fade":587}]);/* scroll effect */
$('#u2744').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,2077]},{"speed":[0,0],"in":[2077,Infinity]}]);/* scroll effect */
$('#u2744').registerOpacityScrollEffect([{"in":[-Infinity,2077],"opacity":0,"fade":134},{"in":[2077,2077],"opacity":100},{"in":[2077,Infinity],"opacity":0,"fade":458}]);/* scroll effect */
$('#u2252').registerPositionScrollEffect([{"speed":[-3,0],"in":[-Infinity,2780.05]},{"speed":[0.5,0],"in":[2780.05,Infinity]}]);/* scroll effect */
$('#u2699').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,3189]},{"speed":[0,0],"in":[3189,Infinity]}]);/* scroll effect */
$('#u2699').registerOpacityScrollEffect([{"in":[-Infinity,3189],"opacity":0,"fade":83},{"in":[3189,3189],"opacity":100},{"in":[3189,Infinity],"opacity":0,"fade":479}]);/* scroll effect */
$('#u2646').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,3189]},{"speed":[0,0],"in":[3189,Infinity]}]);/* scroll effect */
$('#u2646').registerOpacityScrollEffect([{"in":[-Infinity,3189],"opacity":0,"fade":83},{"in":[3189,3189],"opacity":100},{"in":[3189,Infinity],"opacity":0,"fade":479}]);/* scroll effect */
$('#u2705').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,3769.5]},{"speed":[0,0],"in":[3769.5,Infinity]}]);/* scroll effect */
$('#u2705').registerOpacityScrollEffect([{"in":[-Infinity,3769.5],"opacity":0,"fade":79},{"in":[3769.5,3769.5],"opacity":100},{"in":[3769.5,Infinity],"opacity":0,"fade":403}]);/* scroll effect */
$('#u2651').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,3769.5]},{"speed":[0,0],"in":[3769.5,Infinity]}]);/* scroll effect */
$('#u2651').registerOpacityScrollEffect([{"in":[-Infinity,3769.5],"opacity":0,"fade":79},{"in":[3769.5,3769.5],"opacity":100},{"in":[3769.5,Infinity],"opacity":0,"fade":403}]);/* scroll effect */
$('#u2656').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,4431.3]},{"speed":[0,0],"in":[4431.3,Infinity]}]);/* scroll effect */
$('#u2656').registerOpacityScrollEffect([{"in":[-Infinity,4431.3],"opacity":0,"fade":181},{"in":[4431.3,4431.3],"opacity":100},{"in":[4431.3,Infinity],"opacity":0,"fade":461}]);/* scroll effect */
$('#u2711').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,4431.3]},{"speed":[0,0],"in":[4431.3,Infinity]}]);/* scroll effect */
$('#u2711').registerOpacityScrollEffect([{"in":[-Infinity,4431.3],"opacity":0,"fade":181},{"in":[4431.3,4431.3],"opacity":100},{"in":[4431.3,Infinity],"opacity":0,"fade":461}]);/* scroll effect */
$('#u2661').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,5088.3]},{"speed":[0,0],"in":[5088.3,Infinity]}]);/* scroll effect */
$('#u2661').registerOpacityScrollEffect([{"in":[-Infinity,5088.3],"opacity":0,"fade":92},{"in":[5088.3,5088.3],"opacity":100},{"in":[5088.3,Infinity],"opacity":0,"fade":451}]);/* scroll effect */
$('#u2714').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,5088.3]},{"speed":[0,0],"in":[5088.3,Infinity]}]);/* scroll effect */
$('#u2714').registerOpacityScrollEffect([{"in":[-Infinity,5088.3],"opacity":0,"fade":92},{"in":[5088.3,5088.3],"opacity":100},{"in":[5088.3,Infinity],"opacity":0,"fade":451}]);/* scroll effect */
$('#u2666').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,5746.3]},{"speed":[0,0],"in":[5746.3,Infinity]}]);/* scroll effect */
$('#u2666').registerOpacityScrollEffect([{"in":[-Infinity,5746.3],"opacity":0,"fade":124},{"in":[5746.3,5746.3],"opacity":100},{"in":[5746.3,Infinity],"opacity":0,"fade":588}]);/* scroll effect */
$('#u2720').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,5746.3]},{"speed":[0,0],"in":[5746.3,Infinity]}]);/* scroll effect */
$('#u2720').registerOpacityScrollEffect([{"in":[-Infinity,5746.3],"opacity":0,"fade":124},{"in":[5746.3,5746.3],"opacity":100},{"in":[5746.3,Infinity],"opacity":0,"fade":588}]);/* scroll effect */
$('#u2726').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,6430.6]},{"speed":[0,0],"in":[6430.6,Infinity]}]);/* scroll effect */
$('#u2726').registerOpacityScrollEffect([{"in":[-Infinity,6430.6],"opacity":0,"fade":150.3},{"in":[6430.6,6430.6],"opacity":100},{"in":[6430.6,Infinity],"opacity":0,"fade":362}]);/* scroll effect */
$('#u2671').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,6430.6]},{"speed":[0,0],"in":[6430.6,Infinity]}]);/* scroll effect */
$('#u2671').registerOpacityScrollEffect([{"in":[-Infinity,6430.6],"opacity":0,"fade":150.3},{"in":[6430.6,6430.6],"opacity":100},{"in":[6430.6,Infinity],"opacity":0,"fade":362}]);/* scroll effect */
$('#u2732').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,6988.6]},{"speed":[0,0],"in":[6988.6,Infinity]}]);/* scroll effect */
$('#u2732').registerOpacityScrollEffect([{"in":[-Infinity,6988.6],"opacity":0,"fade":185.11},{"in":[6988.6,6988.6],"opacity":100},{"in":[6988.6,Infinity],"opacity":0,"fade":622}]);/* scroll effect */
$('#u2676').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,6988.6]},{"speed":[0,0],"in":[6988.6,Infinity]}]);/* scroll effect */
$('#u2676').registerOpacityScrollEffect([{"in":[-Infinity,6988.6],"opacity":0,"fade":185.11},{"in":[6988.6,6988.6],"opacity":100},{"in":[6988.6,Infinity],"opacity":0,"fade":622}]);/* scroll effect */
$('#u2681').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,7758.6]},{"speed":[0,0],"in":[7758.6,Infinity]}]);/* scroll effect */
$('#u2681').registerOpacityScrollEffect([{"in":[-Infinity,7758.6],"opacity":0,"fade":135},{"in":[7758.6,7758.6],"opacity":100},{"in":[7758.6,Infinity],"opacity":0,"fade":534}]);/* scroll effect */
$('#u2735').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,7758.9]},{"speed":[0,0],"in":[7758.9,Infinity]}]);/* scroll effect */
$('#u2735').registerOpacityScrollEffect([{"in":[-Infinity,7758.9],"opacity":0,"fade":135},{"in":[7758.9,7758.9],"opacity":100},{"in":[7758.9,Infinity],"opacity":0,"fade":534}]);/* scroll effect */
$('#u2738').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,8558.6]},{"speed":[0,0],"in":[8558.6,Infinity]}]);/* scroll effect */
$('#u2738').registerOpacityScrollEffect([{"in":[-Infinity,8558.6],"opacity":0,"fade":183.07},{"in":[8558.6,8558.6],"opacity":100},{"in":[8558.6,Infinity],"opacity":0,"fade":520}]);/* scroll effect */
$('#u2686').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,8558.6]},{"speed":[0,0],"in":[8558.6,Infinity]}]);/* scroll effect */
$('#u2686').registerOpacityScrollEffect([{"in":[-Infinity,8558.6],"opacity":0,"fade":183.07},{"in":[8558.6,8558.6],"opacity":100},{"in":[8558.6,Infinity],"opacity":0,"fade":520}]);/* scroll effect */
$('#u2741').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,9170.6]},{"speed":[0,0],"in":[9170.6,Infinity]}]);/* scroll effect */
$('#u2741').registerOpacityScrollEffect([{"in":[-Infinity,9170.6],"opacity":0,"fade":104},{"in":[9170.6,9170.6],"opacity":100},{"in":[9170.6,Infinity],"opacity":0,"fade":555}]);/* scroll effect */
$('#u2691').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,9170.6]},{"speed":[0,0],"in":[9170.6,Infinity]}]);/* scroll effect */
$('#u2691').registerOpacityScrollEffect([{"in":[-Infinity,9170.6],"opacity":0,"fade":104},{"in":[9170.6,9170.6],"opacity":100},{"in":[9170.6,Infinity],"opacity":0,"fade":555}]);/* scroll effect */
$('#u2624').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,9904.7]},{"speed":[0,0],"in":[9904.7,Infinity]}]);/* scroll effect */
$('#u2624').registerOpacityScrollEffect([{"in":[-Infinity,9904.7],"opacity":0,"fade":281},{"in":[9904.7,9904.7],"opacity":100},{"in":[9904.7,Infinity],"opacity":100,"fade":571}]);/* scroll effect */
$('#u2562').registerPositionScrollEffect([{"speed":[-4,0],"in":[-Infinity,9841.7]},{"speed":[0,0],"in":[9841.7,Infinity]}]);/* scroll effect */
Muse.Utils.fullPage('#page');/* 100% height page */
Muse.Utils.showWidgetsWhenReady();/* body */
Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
} catch(e) { if (e && 'function' == typeof e.notify) e.notify(); else Muse.Assert.fail('Error calling selector function:' + e); }});
</script>
   </body>
