<style>

.version.condecoracao /* version checker */
{
	color: #00000B;
	background-color: #40AC76;
}

.html
{
	background-color: #008C95;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	border-radius: 0px 0px 0px 10px ;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 75px;
	padding-bottom: 62px;
	width: 0.01px;
}

#u1253
{
	z-index: 25;
	min-height: 228px;
}

#u1253-bw
{
	z-index: 25;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -70px;
}

#u1195
{
	z-index: 28;
	width: 24px;
	height: 42px;
	position: fixed;
	top: 42px;
	left: 412px;
}

#u1194
{
	z-index: 27;
	width: 24px;
	height: 44px;
	position: fixed;
	top: 39px;
	left: 454px;
}

#u1192
{
	z-index: 26;
	width: 24px;
	height: 45px;
	position: fixed;
	top: 39px;
	left: 495px;
}

#pu1410
{
	width: 0.01px;
	margin-left: 99px;
}

#u1410
{
	z-index: 3;
	position: relative;
	margin-right: -10000px;
}

#u2287
{
	z-index: 4;
	position: relative;
	margin-right: -10000px;
	margin-top: 101px;
	left: 418px;
}

#pu1671
{
	width: 0.01px;
	padding-bottom: 57px;
	margin-left: 682px;
	margin-top: -35px;
}

#u1671
{
	z-index: 29;
	position: fixed;
	top: 423px;
	left: 682px;
}

#u1068
{
	z-index: 18;
	position: fixed;
	top: 423px;
	left: 883px;
}

.js #u1671.ose_pre_init,.js #u1068.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1694
{
	z-index: 6;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	position: fixed;
	top: 626px;
	left: -177px;
}

#u1696
{
	z-index: 7;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	position: fixed;
	top: 724px;
	left: 90px;
}

#u1009
{
	z-index: 11;
	position: fixed;
	top: 1365px;
	left: 343px;
}

#u1287
{
	z-index: 23;
	width: 127px;
	background-color: transparent;
	position: fixed;
	top: 1725px;
	left: 217px;
}

#u1285
{
	z-index: 21;
	width: 127px;
	background-color: transparent;
	position: fixed;
	top: 1725px;
	left: 348px;
}

#u1283
{
	z-index: 19;
	width: 127px;
	background-color: transparent;
	position: fixed;
	top: 1725px;
	left: 479px;
}

#u1619
{
	z-index: 8;
	width: 126px;
	background-color: transparent;
	position: fixed;
	top: 1725px;
	left: 610px;
}

#u2295
{
	z-index: 2;
	position: fixed;
	top: 1898px;
	left: 241px;
}

#u1035
{
	z-index: 14;
	margin-left: 355px;
	margin-top: 2534px;
	position: relative;
}

#u1029
{
	z-index: 12;
	width: 68px;
	background-color: transparent;
	margin-left: 446px;
	margin-top: 48px;
	position: relative;
}

#u1040
{
	z-index: 15;
	margin-left: 282px;
	margin-top: 48px;
	position: relative;
}

#u1674
{
	z-index: 5;
	overflow: hidden;
	margin-left: 282px;
	margin-top: 27px;
	position: relative;
}

#u1048
{
	z-index: 17;
	margin-left: 277px;
	margin-top: 458px;
	position: relative;
}

#u1045
{
	z-index: 16;
	margin-left: 305px;
	margin-top: 23px;
	position: relative;
}

.js #u1694.ose_pre_init,.js #u1696.ose_pre_init,.js #u1674.ose_pre_init,.js #u1048.ose_pre_init,.js #u1045.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u935
{
	z-index: 10;
	width: 143px;
	height: 191px;
	margin-top: 34px;
	position: relative;
}

.ie #u1195,.ie #u1194,.ie #u1192,.ie #u935
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}



</style>
 <body>

  <div class="rounded-corners clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="browser_width mse_pre_init" id="u1253-bw">
     <img class="svg btn4" id="u1253" src="images/svg%20colado%20871x67.svg" width="100%" height="228" alt="" data-mu-svgfallback="images/svg%20colado%20871x67_poster_.png"/><!-- svg -->
    </div>
    <a class="nonblock nontext mse_pre_init btn1" id="u1195" href="#"><!-- simple frame --></a>
    <a class="nonblock nontext mse_pre_init btn2" id="u1194" href="#"><!-- simple frame --></a>
    <a class="nonblock nontext mse_pre_init btn3" id="u1192" href="#"><!-- simple frame --></a>
    <div class="clearfix colelem" id="pu1410"><!-- group -->
     <img class="svg grpelem" id="u1410" src="images/svg%20colado%203739x3702.svg" width="387" height="382" alt="" data-mu-svgfallback="images/svg%20colado%203739x370_poster_.png"/><!-- svg -->
     <img class="svg grpelem" id="u2287" src="images/svg%20colado%202622x126.svg" width="376" height="181" alt="" data-mu-svgfallback="images/svg%20colado%202622x126_poster_.png"/><!-- svg -->
    </div>
    <div class="clearfix colelem" id="pu1671"><!-- group -->
     <img class="svg ose_pre_init mse_pre_init" id="u1671" src="images/svg%20colado%201337x40.svg" width="186" height="56" alt="" data-mu-svgfallback="images/svg%20colado%201337x40_poster_.png"/><!-- svg -->
     <img class="svg ose_pre_init mse_pre_init" id="u1068" src="images/svg%20colado%20197x27.svg" width="40" height="57" alt="" data-mu-svgfallback="images/svg%20colado%20197x27_poster_.png"/><!-- svg -->
    </div>
    <img class="svg ose_pre_init mse_pre_init" id="u1694" src="images/svg%20colado%201487x722.svg" width="1325" height="643" alt=""/><!-- svg -->
    <img class="svg ose_pre_init mse_pre_init" id="u1696" src="images/svg%20colado%201024.svg" width="802" height="429" alt=""/><!-- svg -->
    <img class="svg mse_pre_init" id="u1009" src="images/svg%20colado%201365x38.svg" width="291" height="82" alt="" data-mu-svgfallback="images/svg%20colado%201365x38_poster_.png"/><!-- svg -->
    <div class="clip_frame mse_pre_init" id="u1287"><!-- image -->
     <img class="block" id="u1287_img" src="images/rodobens_learning%20map-28.png" alt="" width="127" height="138"/>
    </div>
    <div class="clip_frame mse_pre_init" id="u1285"><!-- image -->
     <img class="block" id="u1285_img" src="images/rodobens_learning%20map-27.png" alt="" width="127" height="138"/>
    </div>
    <div class="clip_frame mse_pre_init" id="u1283"><!-- image -->
     <img class="block" id="u1283_img" src="images/rodobens_learning%20map-26.png" alt="" width="127" height="138"/>
    </div>
    <div class="clip_frame mse_pre_init" id="u1619"><!-- image -->
     <img class="block" id="u1619_img" src="images/elementos_storyline_rodobens-22.png" alt="" width="126" height="140"/>
    </div>
    <img class="svg mse_pre_init" id="u2295" src="images/svg%20colado%202523x43.svg" width="478" height="86" alt="" data-mu-svgfallback="images/svg%20colado%202523x43_poster_.png"/><!-- svg -->
    <img class="svg colelem" id="u1035" src="images/svg%20colado%20125x33.svg" width="251" height="68" alt="" data-mu-svgfallback="images/svg%20colado%20125x33_poster_.png"/><!-- svg -->
    <div class="clip_frame colelem" id="u1029"><!-- image -->
     
     <a href="./pdf/pdl1.pdf" target="_blank"><img class="block" id="u1029_img" src="images/pdf.png" alt="" width="68" height="68"/></a>
    
    </div>
    <img class="svg colelem" id="u1040" src="images/svg%20colado%201683x26.svg" width="395" height="63" alt="" data-mu-svgfallback="images/svg%20colado%201683x26_poster_.png"/><!-- svg -->
    <a class="nonblock nontext ose_pre_init colelem" id="u1674" href="http://www.universidaderodobens.com.br"><!-- svg --><img class="svg" src="images/svg%20colado%202158x37.svg" width="408" height="71" alt=""/></a>
    <img class="svg ose_pre_init colelem" id="u1048" src="images/svg%20colado%202809x36.svg" width="406" height="53" alt=""/><!-- svg -->
    <img class="svg ose_pre_init colelem" id="u1045" src="images/svg%20colado%202627x622.svg" width="349" height="95" alt=""/><!-- svg -->
    <div class="colelem" id="u935"><!-- simple frame --></div>
    <div class="verticalspacer"></div>
   </div>
  </div>
  <!-- JS includes -->
  <script type="text/javascript">
  // if (document.location.protocol != 'https:') document.write('\x3Cscript src="http://musecdn2.businesscatalyst.com/scripts/4.0/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script type="text/javascript">
  // window.jQuery || document.write('\x3Cscript src="scripts/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script src="scripts/museutils.js?521960461" type="text/javascript"></script>
  <script src="scripts/jquery.scrolleffects.js?4038615763" type="text/javascript"></script>
  <script src="scripts/jquery.watch.js?56779320" type="text/javascript"></script>
  <!-- Other scripts -->
  <script type="text/javascript">
   $(document).ready(function() { try {
(function(){var a={},b=function(a){if(a.match(/^rgb/))return a=a.replace(/\s+/g,"").match(/([\d\,]+)/gi)[0].split(","),(parseInt(a[0])<<16)+(parseInt(a[1])<<8)+parseInt(a[2]);if(a.match(/^\#/))return parseInt(a.substr(1),16);return 0};(function(){$('link[type="text/css"]').each(function(){var b=($(this).attr("href")||"").match(/\/?css\/([\w\-]+\.css)\?(\d+)/);b&&b[1]&&b[2]&&(a[b[1]]=b[2])})})();(function(){$("body").append('<div class="version" style="display:none; width:1px; height:1px;"></div>');
for(var c=$(".version"),d=0;d<Muse.assets.required.length;){var f=Muse.assets.required[d],g=f.match(/([\w\-\.]+)\.(\w+)$/),k=g&&g[1]?g[1]:null,g=g&&g[2]?g[2]:null;switch(g.toLowerCase()){case "css":k=k.replace(/\W/gi,"_").replace(/^([^a-z])/gi,"_$1");c.addClass(k);var g=b(c.css("color")),h=b(c.css("background-color"));g!=0||h!=0?(Muse.assets.required.splice(d,1),"undefined"!=typeof a[f]&&(g!=a[f]>>>24||h!=(a[f]&16777215))&&Muse.assets.outOfDate.push(f)):d++;c.removeClass(k);break;case "js":k.match(/^jquery-[\d\.]+/gi)&&
typeof $!="undefined"?Muse.assets.required.splice(d,1):d++;break;default:throw Error("Unsupported file type: "+g);}}c.remove();if(Muse.assets.outOfDate.length||Muse.assets.required.length)c="Alguns arquivos no servidor podem estar ausentes ou incorretos. Limpe o cache do navegador e tente novamente. Se o problema persistir, entre em contato com o autor do site.",(d=location&&location.search&&location.search.match&&location.search.match(/muse_debug/gi))&&Muse.assets.outOfDate.length&&(c+="\nOut of date: "+Muse.assets.outOfDate.join(",")),d&&Muse.assets.required.length&&(c+="\nMissing: "+Muse.assets.required.join(",")),alert(c)})()})();
/* body */
Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
Muse.Utils.prepHyperlinks(true);/* body */
$('#u1253-bw').registerPositionScrollEffect([{"speed":[null,0],"in":[-Infinity,83]},{"speed":[null,0],"in":[83,Infinity]}]);/* scroll effect */
Muse.Utils.resizeHeight()/* resize height */
$('#u1195').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,62.42]},{"speed":[0,0],"in":[62.42,Infinity]}]);/* scroll effect */
$('#u1194').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,60.1]},{"speed":[0,0],"in":[60.1,Infinity]}]);/* scroll effect */
$('#u1192').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,59.34]},{"speed":[0,0],"in":[59.34,Infinity]}]);/* scroll effect */
$('#u1671').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,17.95]},{"speed":[0,0],"in":[17.95,Infinity]}]);/* scroll effect */
$('#u1671').registerOpacityScrollEffect([{"in":[-Infinity,17.95],"opacity":100,"fade":50},{"in":[17.95,17.95],"opacity":100},{"in":[17.95,Infinity],"opacity":0,"fade":199.25}]);/* scroll effect */
$('#u1068').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,21.21]},{"speed":[0,0],"in":[21.21,Infinity]}]);/* scroll effect */
$('#u1068').registerOpacityScrollEffect([{"in":[-Infinity,21.21],"opacity":100,"fade":50},{"in":[21.21,21.21],"opacity":100},{"in":[21.21,Infinity],"opacity":0,"fade":194.4}]);/* scroll effect */
$('#u1694').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,660]},{"speed":[0,0],"in":[660,Infinity]}]);/* scroll effect */
$('#u1694').registerOpacityScrollEffect([{"in":[-Infinity,660],"opacity":0,"fade":239},{"in":[660,660],"opacity":90},{"in":[660,Infinity],"opacity":10,"fade":486}]);/* scroll effect */
$('#u1696').registerPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,661.8]},{"speed":[0,0],"in":[661.8,Infinity]}]);/* scroll effect */
$('#u1696').registerOpacityScrollEffect([{"in":[-Infinity,661.8],"opacity":0,"fade":240},{"in":[661.8,661.8],"opacity":90},{"in":[661.8,Infinity],"opacity":10,"fade":482.2}]);/* scroll effect */
$('#u1009').registerPositionScrollEffect([{"speed":[4,0],"in":[-Infinity,1136.54]},{"speed":[0,1],"in":[1136.54,Infinity]}]);/* scroll effect */
$('#u1287').registerPositionScrollEffect([{"speed":[2,1],"in":[-Infinity,1560.9]},{"speed":[0,0.5],"in":[1560.9,Infinity]}]);/* scroll effect */
$('#u1285').registerPositionScrollEffect([{"speed":[2,1],"in":[-Infinity,1563.9]},{"speed":[0,0.5],"in":[1563.9,Infinity]}]);/* scroll effect */
$('#u1283').registerPositionScrollEffect([{"speed":[-2,1],"in":[-Infinity,1564.9]},{"speed":[0,0.5],"in":[1564.9,Infinity]}]);/* scroll effect */
$('#u1619').registerPositionScrollEffect([{"speed":[-2,1],"in":[-Infinity,1560.75]},{"speed":[0,0.5],"in":[1560.75,Infinity]}]);/* scroll effect */
$('#u2295').registerPositionScrollEffect([{"speed":[0,4],"in":[-Infinity,1545]},{"speed":[0,0.5],"in":[1545,Infinity]}]);/* scroll effect */
$('#u1674').registerOpacityScrollEffect([{"in":[-Infinity,2912],"opacity":0,"fade":116},{"in":[2912,2912],"opacity":100},{"in":[2912,Infinity],"opacity":100,"fade":498}]);/* scroll effect */
$('#u1048').registerOpacityScrollEffect([{"in":[-Infinity,3563],"opacity":0,"fade":50},{"in":[3563,3563],"opacity":100},{"in":[3563,Infinity],"opacity":100,"fade":50}]);/* scroll effect */
$('#u1045').registerOpacityScrollEffect([{"in":[-Infinity,3591],"opacity":0,"fade":50},{"in":[3591,3591],"opacity":100},{"in":[3591,Infinity],"opacity":100,"fade":50}]);/* scroll effect */
Muse.Utils.fullPage('#page');/* 100% height page */
Muse.Utils.showWidgetsWhenReady();/* body */
Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
} catch(e) { if (e && 'function' == typeof e.notify) e.notify(); else Muse.Assert.fail('Error calling selector function:' + e); }}
                    
);
</script>
   </body>
